* {
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-synthesis: none;
  font-weight: 400;
  line-height: 24px;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  background-image: radial-gradient(ellipse at top left, #7f50e4, #4c05d0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  color: #e6ddf9;
}
